<script setup lang="ts">
const items = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
</script>

<template>
  <div>
    <transition-group name="list" tag="section" class="display-grid">
      <div v-for="(item, id) in items" :key="id">
        {{ item }}
      </div>
    </transition-group>
    <client-only>
      <transition-group name="list" tag="section" class="display-grid">
        <div v-for="(item, id) in items" :key="id">
          {{ item }}
        </div>
      </transition-group>
    </client-only>
  </div>
</template>

<style lang="css">
.display-grid {
  @apply grid grid-cols-4;
}
.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}
</style>
